<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>An Ounce of Silver Ministries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ 'assets/main.css' | relative_url }}" />
    <link rel="shortcut icon" type="image/png" href="{{ 'assets/Images/Logo.png' | relative_url }}" />
</head>
<body id="{{ page.bodyid }}">
    <header>
        <nav>
            <img id="nav-logo" src="{{ 'assets/ounce of silver nav logo.png' | relative_url }}" alt="An Ounce of Silver Ministries Logo" />
            <a class="nav-link" {% if page.url == "/" %}id="active"{% endif %} href="{{ 'index.html' | relative_url }}">Home</a>
            <a class="nav-link" {% if page.url == "/about.html" %}id="active"{% endif %} href="{{ 'about.html' | relative_url }}">About</a>
            <a class="nav-link" {% if page.url == "/services.html" %}id="active"{% endif %} href="{{ 'services.html' | relative_url }}">Services</a>
            <a class="nav-link" {% if page.url == "/contact.html" %}id="active"{% endif %} href="{{ 'contact.html' | relative_url }}">Contact</a>
        </nav>
    </header>

    {{ content | markdownify }}

    <footer>
        <p>Amherst, NH</p>
        <p><a href="tel:+16037326884">(603) 732-6884</a></p>
        <p><a href="mailto:an.ounce.of.silver@gmail.com?subject=From Your Website">an.ounce.of.silver@gmail.com</a></p>
        <br />
        <p>© 2017-2019, An Ounce of Silver Ministries.</p>
        <p>Created by <a class="underlink" href="https://www.jessicafulford.com">Jessica Fulford</a></p>
    </footer>
</body>
</html>
